.personal-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;

    .task-currency {
        font-size: 14px;
    }

    .personal-date {
        font-size: 24px;
    }
}

.personal-card-image-admin {
    width: 100px;
    height: 100px;
}

.personal-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
} 